.loader {
  width: 16px;
  height: 16px;
  animation-name: rotate360;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  & path {
    @include themed {
      fill: t('spinnerColor');
    }
  }
}

@keyframes rotate360 {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
