.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  flex-direction: column;
  // transition: $transition;
  pointer-events: none;

  .inner {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    .panel {
      mix-blend-mode: normal;
      border: 1px solid;
      box-sizing: border-box;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 10px;
      width: 324px;
      min-height: 48px;
      opacity: 1;
      // transition: $transition;
      transform: translateY(0);
      pointer-events: initial;

      @include themed {
        background-color: t('panelBackground');
        border-color: t('panelBorder');
      }

      section.heading {
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
        border-bottom: 1px solid;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;

        @include themed {
          border-color: t('panelBorder');
          color: t('panelColor');
        }

        &.hideBorder {
          border-bottom: none;
        }

        .icon {
          margin-left: 24px;
          cursor: initial;

          &.clickable {
            cursor: pointer;
          }

          & path {
            @include themed {
              fill: t('panelColor');
            }
          }
        }

        span.title {
          flex: 1;
          margin-left: 24px;
          // text-align: center;
          // margin-left: -44px;

          // &.showClose {
          //   margin-right: -48px;
          // }
        }

        .close {
          width: 24px;
          height: 24px;
          margin-right: 24px;
          padding: 0;
          // transition: $transition;
          background: transparent;
          backdrop-filter: none;
          -webkit-backdrop-filter: none;
          border: none;
        }
      }

      section.body {
        width: 100%;
        padding: 24px;
        box-sizing: border-box;

        @include themed {
          color: t('panelColor');
        }
      }
    }

    .subpanel {
      width: 300px;
      padding: 24px;
      box-sizing: border-box;
      backdrop-filter: blur(20px);
      border: 1px solid;
      border-radius: 0 0 10px 10px;
      border-top: 0;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      // transition: $transition;
      opacity: 1;
      transform: translateY(0) scaleY(100%);

      @include themed {
        background-color: t('panelBackground');
        border-color: t('panelBorder');
        color: t('panelColor');
      }

      &.collapsed {
        opacity: 0;
        transform: translateY(-10px) scaleY(0%);
      }
    }
  }

  &.hide {
    opacity: 0;

    .panel {
      opacity: 0;
      transform: translateY(-10px);
      pointer-events: none;
    }

    .subpanel {
      opacity: 0;
      transform: translateY(-10px);
      pointer-events: none;
    }
  }
}
