nav {
  height: 50px;
}

.address-hash {
  display: flex;
  text-transform: none;
  padding: 5px;
  font-weight: 600;
  background: #ffffff;
  color: black;
  font-size: 1em;
  border-radius: 10px;
  user-select: none;
  &:hover {
    background: rgb(225, 225, 225);
  }
}
