// basic
$black: #000000;
$white: #ffffff;

// primary
$gray-100: #e5e5e5;
$gray-150: #c4c4c4;
$gray-200: #a1a1a5;
$gray-300: #c4c4c4;
$gray-400: #4f4f4f;
$gray-500: #333333;
$gray-600: #1f1f1f;

// solid
$green: #27ae60;
$blue: #2f80ed;
$red: #db3044;
$red-100: #eb5757;
$pink: #ff278e;
$pink-100: #ffcae3;

// blue
$blue-600: #394fd4;

// yellow
$yellow-500: #d6955c;
$yellow-600: #d48239;
